@tailwind base;
@tailwind components;
@tailwind utilities;

body{background-color: #333; color: #fff; padding: 0;}
.form{background-color: #C30F16;}
hr{background-color: #fff; margin: 2rem auto; max-width: 1024px; }

input[type=range]{width: 100%;}


.small .react-colorful {
  width: 120px;
  height: 120px;
}
.small .react-colorful__hue {
  height: 20px;
}